/* Add your custom styles here */

#sidebar {
    min-height: 100vh;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main {
    padding: 15px;
}

.center {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    height: 100vh; /* Make the div occupy the full viewport height */
}
